{% extends "base.html" %}

{% block title %}Contrastive Drama: Compare dramas{% endblock %}

{% block intro %}
<div class="container">
    <h1 class="mt-5">Compare dramas</h1>
</div>
{% endblock %}

{% block content %}
<form method="POST" action="/results">
    <div class="row"><h4 class="mt-2">Step 1: Choose corpora</h4></div>
    <div class="row">
        <div class="col-md-6">
            <label for="corpus1">Choose first corpus:</label>
            <select class="custom-select" name="corpus1" id="corpus1">
                <option value="rus">Russian</option>
                <option value="shake">English (Shakespeare)</option>
                <option value="ger">German</option>
                <option value="ita">Italian</option>
                <option value="span">Spanish (Calderón + Spanish)</option>
                <option value="rom">Latin</option>
                <option value="greek">Greek</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="corpus2">Choose second corpus:</label>
            <select class="custom-select" name="corpus2" id="corpus2">
                <option value="rus">Russian</option>
                <option value="shake">English (Shakespeare)</option>
                <option value="ger">German</option>
                <option value="ita">Italian</option>
                <option value="span">Spanish (Calderón + Spanish)</option>
                <option value="rom">Latin</option>
                <option value="greek">Greek</option>
            </select>
        </div>
    </div>

    <div class="row"><h4 class="mt-2">Step 2: Choose corpus split parameter</h4></div>
    <div class="row">
        <div class="col-md-3">
            <div class="custom-control custom-radio">
                <input name="comparison" type="radio" id="time" value="time" class="custom-control-input">
                <label class="custom-control-label" for="time">Evolution through time</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-radio">
                <input name="comparison" type="radio" id="gender" value="gender" class="custom-control-input">
                <label class="custom-control-label" for="gender">Male vs. Female character talk</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-radio">
                <input name="comparison" type="radio" id="parents_children" value="parents_children" class="custom-control-input">
                <label class="custom-control-label" for="parents_children">Parents vs. Children character talk</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="custom-control custom-radio">
                <input name="comparison" type="radio" id="spoken_stage" value="spoken_stage" class="custom-control-input">
                <label class="custom-control-label" for="spoken_stage">Spoken text vs. Stage directions</label>
            </div>
        </div>
    </div>

    <div class="row"><h4 class="mt-2">Step 3: Choose operationalization parameter</h4></div>
    <div class="row">
        <div class="col-md-4">
            <div class="custom-control custom-radio">
                <input name="metrics" type="radio" id="frequency" value="frequency" class="custom-control-input">
                <label class="custom-control-label" for="frequency">Frequency</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="custom-control custom-radio">
                <input name="metrics" type="radio" id="keyness" value="keyness" class="custom-control-input">
                <label class="custom-control-label" for="keyness">Key items</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="custom-control custom-radio">
                <input name="metrics" type="radio" id="pyzeta" value="pyzeta" class="custom-control-input">
                <label class="custom-control-label" for="pyzeta">Items preferred/items avoided</label>
            </div>
        </div>
    </div>

    <div class="row"><h4 class="mt-2">Step 4: Choose what to count</h4></div>
    <div class="row">
        <div class="d-block">
            <div class="custom-control custom-radio">
                <input name="token_type" type="radio" id="pos" value="pos" class="custom-control-input">
                <label class="custom-control-label" for="pos">Parts of speech</label>
            </div>
            <div class="custom-control custom-radio">
                <input name="token_type" type="radio" id="lemmas" value="lemmas" class="custom-control-input">
                <label class="custom-control-label" for="lemmas">Words</label>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <button class="btn btn-primary btn-lg" type="submit" id="submission">
            Compare
        </button>
        <div id="loader"><button class="btn btn-primary btn-lg" id="loading">
            <span class="spinner-border spinner-border-sm"></span>&emsp;Loading…
        </button></div>
    </div>
</form>
{% endblock %}
